*{
    margin: 0;
    padding: 0;
    
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left,rgb(0, 0, 0), rgb(38, 36, 36), rgb(58, 54, 54));
}
.container{
    width: 300px;
    height: 450px;
    background-color: black;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: -8px 10px 5px rgb(0, 0, 0);
}
.container .items{
    margin: 5px;
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    gap: 10px;
    
}
.container .items input{
    padding-right: 10px;
    border: none;
    width: 100%;
    height: 100%;
    text-align: end;
    background-color: rgb(40, 38, 38);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    font-size: 1.8rem;
    
}
button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: white;
    background-color: rgb(56, 45, 45);
    font-size: 1.8rem;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media(max-width: 768px ){
    .container{
        width: 70%;
        height: 80%;
    }
}

@media(max-width: 425px ){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: auto;
        margin: 5px;
    }
}

